.signup main {
    text-align: center;
}

.signup input {
    margin-bottom: 0;
}

.signup form > div {
    margin-bottom: 15px;
}

.criteria {
    display: block;
    margin: auto;
    max-width: 450px;
    padding-inline: 8px;
    color: #333;
    font-size: 0.9em;
    text-align: start;
    margin-block: 5px 15px;
    width: 80%;
    box-sizing: border-box;
}
